---

- import_tasks: mysql_containers.yml
  tags:
    - deploy

- import_tasks: configure_master_slave.yml
  tags:
    - deploy
    - replication

- import_tasks: remove_containers.yml
  tags:
    - remove_container

